#header-nav{
	background-color:yellow;
	border:0;
	border-radius:0;
	}
	#logo-img{
		background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuPgTbJuLoxUqAi0NhhsLwz0SdrtI30hjN1c1wSOSE9Ymmg6rONQ) no-repeat ;
		margin: 10px 15px 10px 0;
		width: 200px;
		height: 200px
	}
	.navbar-brand h1{
		font-style: italic;
		color: #0000ff;
		font-size: 2.2em;
		text-transform: uppercase;
		font-weight: bold;
		margin-top: 0px;
		line-height: 0.75px;
		margin-bottom: 30px;
		text-shadow: 1px 1px 1px #222;
	}
	.navbar-brand{
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 0px;
	}
	.navbar-brand a:hover,.navbar-brand a:focus{
		text-decoration: none;
	}
	#H2 {
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}
	.menu{
		background-color:#00FF00;
		margin: 5px;
		padding:0px;
		border-color:red;
		width:auto;
		height: auto;
		text-decoration-color: 	#680000 ; 
	}
     #H3 {
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}
	#H4{
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}
	#H5{
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}
	.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
		border:1px solid #FF0000;	
    }
    @media (max-width: 767px){
        #header-nav{
	background-color:yellow;
	border:0;
	border-radius:0;
	height:100px;
        }
      
            }
            #nav-list{
            	margin-top: 15px;

            }
            #nav-list a{
            	color: red;
            text-align: center;
            }
            #nav-list a:hover{
            	background: #E7E7E7;
            }
            #nav-list a span{
            	font-size: 1.8em;

            }
            #collapsable-nav{
            	background-color: #00ccff;
            }
            .navbar-header button.navbar-toggle{
            	clear: both;
            	margin-top: -38px;
            }
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left:400px;
    position: relative;


}

.dropdown {
	margin-top: 5px;
	margin-right: 0px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin-top: 5px;
	margin-right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #FF0000;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
